<%- include('header') %>
<div class="container">
  <h1><%= film.filmName %></h1>
  <p><%= film.filmDesc %></p>

  <form method="post" action="/cms/edit">
    <input type="hidden" name="id" id="id" value="<%= film._id  %>" />
    <div>
      <label for="filmTitle">Film Name</label>
      <input
        type="text"
        name="filmTitle"
        id="filmTitle"
        value="<%= film.filmTitle  %>"
      />
    </div>
    <div>
      <label for="filmCertificate">Film Certificate</label>
      <input
        type="text"
        name="filmCertificate"
        id="filmCertificate"
        value="<%= film.filmCertificate  %>"
      />
    </div>
    <div>
      <label for="filmDescription">Film Description</label>
      <textarea name="filmDescription" id="filmDescription">
<%= film.filmDescription  %></textarea
      >
    </div>
    <div>
      <label for="filmImage">Film Image</label>
      <input
        type="text"
        name="filmImage"
        id="filmImage"
        value="<%= film.filmImage  %>"
      />
    </div>
    <div>
      <label for="filmPrice">Film Price</label>
      <input
        type="text"
        name="filmPrice"
        id="filmPrice"
        value="<%= film.filmPrice  %>"
      />
    </div>
    <div>
      <label for="filmReview">Film Review</label>
      <input
        type="text"
        name="filmReview"
        id="filmReview"
        value="<%= film.filmReview  %>"
      />
    </div>
    <div>
      <label for="releaseDate">Release Date</label>
      <input
        type="date"
        name="releaseDate"
        id="releaseDate"
        value="<%= film.releaseDate  %>"
      />
    </div>
    <div>
      <input type="submit" value="Edit" class="edit" />
    </div>
  </form>
</div>